@import '../../styles.scss';

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  &.mat-toolbar {
    padding: 0px 7%;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);

    .mat-toolbar-row {
      height: 83px;

      .logo {
        width: 118px;
        height: 51px;
      }
    }
  }
}

@media only screen and (min-width: 960px) {
  .header {
    position: relative;

    &.mat-toolbar {
      .mat-toolbar-row {
        .company-logo, .settings {
          padding-bottom: 20px;
        }
      }
    }
  }
}
