@import '../../styles.scss';

@media only screen and (min-width: 960px) {
  .header {
    &.mat-toolbar {
      .mat-toolbar-row {
        .company-logo, .settings {
          padding-bottom: 20px;
        }
      }
    }
  }
}

.header {
  &.mat-toolbar {

    padding: 0px 7%;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);

    .mat-toolbar-row {
      height: 85px;

      .logo {
        height: 50px;
      }
    }
  }
}
