<mat-card class="training-card" *ngIf="training">
  <mat-card-content>
    <div fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="2rem">
        <div fxLayoutAlign="center center" class="task-type">
          <mat-icon [svgIcon]="'task_' + training?.type" class="task-icon"></mat-icon>
        </div>        <div fxLayout="column" fxLayoutAlign="center start">
          <span class="bold">{{training?.title | translate}}</span>
          <span>{{training?.description | translate}}</span>
          <span>{{'pages.trainings.language' | translate}}: {{training?.language | translate}}</span>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div>{{'general.status' | translate}}: {{training?.status | translate}}</div>
        <ng-container *ngIf="!training?.completed; else spacer">
          <button mat-flat-button class="task-button">{{'general.continue' | translate}}</button>
        </ng-container>
        <ng-template #spacer>
          <div style="height: 36px;"></div>
        </ng-template>
      </div>
    </div>
  </mat-card-content>
</mat-card>
