<div class="mobile-menu-container" fxShow fxHide.gt-sm>
  <div fxLayout="row" fxLayoutAlign="center center" class="mobile-menu">
    <div class="menu tasks" fxLayout="column" fxLayoutAlign="center center" routerLink="/tasks" routerLinkActive="active">
      <mat-icon color="accent">assignment</mat-icon>
      <span>Tasks</span>
    </div>
    <div class="menu history" fxLayout="column" fxLayoutAlign="center center" routerLink="/history" routerLinkActive="active">
      <mat-icon color="accent">history</mat-icon>
      <span>History</span>
    </div>
    <div class="menu trainings" fxLayout="column" fxLayoutAlign="center center" routerLink="/trainings" routerLinkActive="active">
      <mat-icon>mode_comment</mat-icon>
      <span>Trainings</span>
    </div>
  </div>
</div>
