<div class="mobile-menu-container" fxShow fxHide.gt-sm>
  <div fxLayout="row" fxLayoutAlign="center center" class="mobile-menu">
    <div class="menu tasks" fxLayout="column" fxLayoutAlign="center center" routerLink="/tasks"
         routerLinkActive="active">
      <mat-icon svgIcon="tasks" class="icon" color="accent"></mat-icon>
      <span>{{'menu.tasks' | translate}}</span>
    </div>
    <div class="menu history" fxLayout="column" fxLayoutAlign="center center" routerLink="/history"
         routerLinkActive="active">
      <mat-icon svgIcon="history" class="icon"></mat-icon>
      <span>{{'menu.history' | translate}}</span>
    </div>
    <div class="menu trainings" fxLayout="column" fxLayoutAlign="center center" routerLink="/trainings"
         routerLinkActive="active">
      <mat-icon svgIcon="trainings" class="icon"></mat-icon>
      <span>{{'menu.trainings' | translate}}</span>
    </div>
    <div class="menu profile" fxLayout="column" fxLayoutAlign="center center" routerLink="/profile"
         routerLinkActive="active">
      <mat-icon svgIcon="account" class="icon"></mat-icon>
      <span>{{'menu.profile' | translate}}</span>
    </div>
  </div>
</div>
