@import "../../../styles.scss";

.mt-1 {
  margin-top: 1rem !important;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $col-olive;
  margin: 1em 0;
  padding: 0;
}

.details .mat-flat-button {
  width: 138px;
  height: 30px;
  border-radius: 4px;
  background-color: #54bc79;
  line-height: 1.6;
}

.actions {
  .mat-flat-button.mat-primary.bg-orange {
    color: #ffffff;
    width: 126px;
    height: 30px;
    border-radius: 4px;
    background-color: #f47f25;
    line-height: 1.6;
  }
}

.video-thumbnail {
  object-fit: contain;
  width: 100%;
  height: 0%;
}

@media only screen and (min-width: 1280px) {
  .title {
    margin-left: 0.75rem;
  }
}
