<div class="container" fxLayout="column" fxLayoutGap="1rem">
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.gt-md="start center" fxLayoutGap="8px" class="title">
    <i #taskTypeIcon class="icon fas"></i>
    <h2 class="bold marginless">{{'pages.task.task' | translate}} #{{task['task_id']}}</h2>
  </div>
  <ng-container *ngIf="task?.result">
    <mat-card class="col-card results">
      <mat-card-content fxLayout="column">
        <div fxLayout="column" fxLayout.gt-md="row wrap" fxLayoutAlign="start stretch" fxLayoutAlign.gt-md="start start"
             fxLayoutGap="1rem">
          <div fxFlex="0 0 auto" fxFlex.gt-md="33.333%" fxLayout="column" fxLayoutGap="1rem">
            <div fxFlex>
              <h2 class="bold marginless">{{'pages.task.result_card.your_vote' | translate}}
                <span [ngClass]="task?.result?.correct ? 'color-green' : 'color-red'">
                {{(task?.result?.correct ? 'general.correct' : 'general.incorrect') | translate}}
              </span>
              </h2>
            </div>
            <div fxFlex="0%" fxLayoutAlign="space-between center">
              <div fxFlex fxLayout="column">
                <span class="bold">{{'general.hor' | translate}}</span>
                <span class="muted">{{task?.result?.hor | signedNumber}}</span>
              </div>
              <div fxFlex fxLayout="column">
                <span class="bold">{{'pages.task.result_card.tokens' | translate}}</span>
                <span class="muted">{{task?.result?.tokens | signedNumber}}</span>
              </div>
            </div>
            <div fxFlex="0%" fxLayoutAlign="space-between center">
              <div fxFlex fxLayout="column">
                <span class="bold">{{'pages.task.result_card.stake_outcome' | translate}}</span>
                <span class="muted">{{(task?.result?.correct ? '+' : '-') + task?.task_stake?.stake}}</span>
              </div>
              <div fxFlex fxLayout="column">
                <span class="bold">{{'general.total' | translate}}</span>
                <span class="muted">{{task?.result?.total | signedNumber}}</span>
              </div>
            </div>
          </div>
          <div fxFlex="0 0 auto" fxFlex.gt-md="31.333%" fxLayout="column" fxLayoutGap="1rem">
            <div fxFlex>
              <h2 class="bold marginless">{{'pages.task.result_card.task_outcome' | translate}}
                <span class="outcome" [ngClass]="task?.result?.truePercentage > 50 ? 'true' : 'false'">
                  {{(task?.result?.truePercentage > 50 ? 'general.true' : 'general.false') | translate}}
                </span>
              </h2>
            </div>
            <ng-container *ngIf="task?.result?.correct">
              <div fxFlex>
                <h2 class="bold marginless">{{'pages.task.result_card.task_status' | translate}}
                  <span class="color-green">{{'pages.task.result_card.paid' | translate}}</span></h2>
              </div>
            </ng-container>
          </div>
          <div fxFlex="0 0 auto" fxFlex.gt-md="31.333%" fxLayout="column" fxLayoutGap="1rem">
            <div fxFlex>
              <h2 class="bold marginless">{{'general.voters' | translate}}</h2>
            </div>
            <div fxFlex="0%" fxLayoutAlign="space-between center">
              <div fxFlex fxLayout="column">
                <span class="bold">{{'pages.task.result_card.voted_true' | translate}} {{task?.result?.truePercentage}}%</span>
                <app-bar-chart [percentage]="task?.result?.truePercentage" color="#d5d54b"></app-bar-chart>
              </div>
            </div>
            <div fxFlex="0%" fxLayoutAlign="space-between center">
              <div fxFlex fxLayout="column">
                <span class="bold">{{'pages.task.result_card.voted_false' | translate}} {{task?.result?.falsePercentage}}%</span>
                <app-bar-chart [percentage]="task?.result?.falsePercentage" color="#c5bdff"></app-bar-chart>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </ng-container>
  <mat-card class="col-card details">
    <mat-card-content fxLayout="column" fxLayoutGap="1rem">
      <div fxLayout="column" fxLayout.gt-md="row wrap" fxLayoutAlign="start stretch" fxLayoutAlign.gt-md="start start"
           fxLayoutGap="1rem">
        <div fxFlex="0 0 auto" fxFlex.gt-md="33.333%" fxLayout="column" fxLayoutGap="1rem">
          <div fxFlex>
            <h2 class="bold marginless">{{'pages.task.details.travel_profile' | translate}}</h2>
          </div>
          <div fxFlex="0%" fxLayoutAlign="space-between start">
            <div fxFlex fxLayout="column">
              <span class="bold">{{'pages.task.details.gender' | translate}}</span>
              <span class="muted">{{task['travel_profile'].gender | translate}}</span>
            </div>
            <div fxFlex fxLayout="column">
              <span class="bold">{{'pages.task.details.risk_score' | translate}}</span>
              <span class="muted">{{task['travel_profile'].risk_score | translate}}</span>
            </div>
            <div fxFlex fxLayout="column">
              <span class="bold">{{'pages.task.details.travel_profile' | translate}}</span>
              <span class="muted">{{task['travel_profile'].type | translate}}</span>
            </div>
          </div>
        </div>
        <div fxFlex="0 0 auto" fxFlex.gt-md="31.333%" fxLayout="column" fxLayoutGap="1rem">
          <div fxFlex>
            <h2 class="bold marginless">{{'pages.task.details.task_information' | translate}}</h2>
          </div>
          <div fxFlex="0%" fxLayoutAlign="space-between start">
            <div fxFlex fxLayout="column">
              <span class="bold">{{'pages.task.time' | translate}}</span>
              <span class="muted">{{'general.hours_ago' | translate: {hours: task['incident_time']} }}</span>
            </div>
            <div fxFlex fxLayout="column">
              <span class="bold">{{'pages.task.type' | translate}}</span>
              <span class="muted">{{task['incident_desc']}}</span>
            </div>
            <div fxFlex fxLayout="column">
              <span class="bold">{{'pages.task.location' | translate}}</span>
              <span class="muted">{{task['location'].address}}</span>
              <button mat-flat-button class="mt-1" (click)="openNearbyHospitals()">{{'pages.task.details.view_map' | translate}}</button>
            </div>
          </div>
        </div>
        <div fxFlex="0 0 auto" fxFlex.gt-md="31.333%" fxLayout="column" fxLayoutGap="1rem">
          <div fxFlex>
            <h2 class="bold marginless">{{'pages.task.details.hospital_info' | translate}}</h2>
          </div>
          <div fxFlex="0%" fxLayoutAlign="space-between start">
            <div fxFlex fxLayout="column">
              <span class="bold">{{'pages.task.details.hospital' | translate}}</span>
              <span class="muted">{{task['hospital'].name}}</span>
            </div>
            <div fxFlex fxLayout="column">
              <span class="bold">{{'general.success_rate' | translate}}</span>
              <span class="muted">{{task['hospital'].success_rate}} {{task['hospital'].success_comparison | translate}}</span>
            </div>
            <div fxFlex fxLayout="column">
              <span class="bold">{{'general.google_rating' | translate}}</span>
              <app-rating [rating]="task['hospital'].rating" [max]="5"></app-rating>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div fxLayout="column" fxLayout.gt-md="row wrap" fxLayoutAlign="start stretch" fxLayoutAlign.gt-md="start start"
           fxLayoutGap="1rem">
        <div fxFlex="100%" fxFlex.gt-md="33.333%" fxLayout="column" fxLayoutGap="1rem">
          <div fxFlex>
            <h2 class="bold marginless">{{'pages.task.details.bill_details' | translate}}</h2>
          </div>
          <div fxFlex="0%" fxLayout="column" fxLayoutGap="1rem">

            <!--TODO: Extract component -->
            <div *ngFor="let bill_detail of task['bill_details']" fxLayout="row" fxLayoutAlign="start center">
              <div fxFlex="1 0 66.666%" fxLayout="column">
                <span class="bold">{{bill_detail.name}}: {{bill_detail.price}}</span>
                <span class="muted">{{'general.average' | translate}}: {{bill_detail.average}}</span>
              </div>
              <div fxFlex="33.333%" fxLayoutAlign="end center" fxLayoutAlign.gt-md="start stretch"
                   [ngClass]="bill_detail.comparison_positive ? 'color-olive' : 'color-orange'">
                {{bill_detail.comparison | translate}}
              </div>
            </div>
          </div>
          <div fxLayout="row" fxFlexAlign="end">
            <button mat-flat-button (click)="openInNewTab(task.bill_link)">{{'pages.task.details.view_document' | translate}}</button>
          </div>
        </div>
        <div fxFlex="100%" fxFlex.gt-md="33.333%" fxLayout="column" fxLayoutGap="1rem">
          <div fxFlex>
            <h2 class="bold marginless">{{'pages.task.details.support_docs' | translate}}</h2>
          </div>
          <div fxFlex="0%" fxLayout="column" fxLayoutGap="1rem">
            <!--TODO: Extract component -->
            <div *ngFor="let additional_document of task['additional_documents']" fxLayout="row"
                 fxLayoutAlign="start center">
              <div fxFlex="0%" fxFlex.gt-md="66.666%">
                <span class="bold">{{additional_document.name}}</span>
              </div>
              <div fxFlex="0%" fxFlex.gt-md="33.333%" fxLayoutAlign="end center" fxLayoutAlign.gt-md="start stretch">
                <button mat-flat-button (click)="openInNewTab(additional_document.link)">{{'pages.task.details.view_document' | translate}}</button>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div fxFlex="0%" fxFlex.gt-md="66.666%">
                <span class="bold">{{'pages.task.details.user_video' | translate}}</span>
              </div>
              <div fxFlex="0%" fxFlex.gt-md="33.333%" fxLayoutAlign="end center" fxLayoutAlign.gt-md="start stretch">
                <img src="{{task['video_data'].thumbnail_url}}" alt="" class="video-thumbnail" (click)="openVideo()">
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <ng-container *ngIf="!hasVoted">
    <div fxFlex="noshrink" fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.gt-md="end center"
         fxLayoutGap="1rem" class="actions">
      <button mat-flat-button class="bg-orange" (click)="vote(false);">{{'pages.task.vote_false' | translate}}</button>
      <button mat-flat-button class="bg-orange" (click)="vote(true)">{{'pages.task.vote_true' | translate}}</button>
    </div>
  </ng-container>
</div>
