@import "../../../styles.scss";

@media only screen and (min-width: 1280px) {
  .title {
    margin-left: 0.75rem;
  }
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.mt-1 {
  margin-top: 1rem;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $col-olive;
  margin: 1em 0;
  padding: 0;
}

.actions {
  .mat-flat-button.mat-primary.bg-orange {
    background-color: $col-orange;
    color: #ffffff;
  }
}

.video-thumbnail {
  object-fit: contain;
  width: 100%;
  height: 0%;
}
