.settings .profile {
  .avatar {
    width: 42px;
    height: 42px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    transition: box-shadow 0.25s ease-in-out;
    outline: none;

    &.active {
      -webkit-box-shadow: 0 0 0 2px #55bd79;
      -moz-box-shadow: 0 0 0 2px #55bd79;
      box-shadow:  0 0 0 2px #55bd79;
      box-shadow:  0 0 0 2px #55bd79;
    }
  }

  .username, .level {
    font-size: 1rem;
    line-height: 1;
  }

  .level {
    opacity: 0.5;
  }
}

.vertical {
  transform: rotate(90deg);
}
