<div fxLayoutAlign="start center" fxLayoutGap="1rem" class="settings">
  <mat-icon svgIcon="notifications_active" fxHide fxShow.gt-sm></mat-icon>
  <div fxHide fxShow.gt-sm fxLayoutAlign="center center" fxLayoutGap="10px" class="profile">
    <img src="/assets/jane_doe.jpg" alt="" class="avatar">
    <div fxLayout="column" class="menu">
      <span class="username bold">Jane Doe</span>
      <span class="level bold">Level 5 - Expert</span>
    </div>
  </div>
  <mat-icon svgIcon="more"></mat-icon>
</div>
