@media only screen and (min-width: 960px) {
  .settings {
    padding-bottom: 20px;
  }
}

.settings .profile {
  .avatar {
    width: 42px;
    height: 42px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
  }

  .username, .level {
    font-size: 1rem;
    line-height: 1;
  }

  .level {
    opacity: 0.5;
  }
}
