.content {
  height: calc(100vh - 84px);
  padding-top: 5vh;
  position: relative;
  overflow-y: auto;
}

.mat-typography {
  transition: filter 80ms ease-in-out;
}

@media only screen and (max-width: 960px) {
  .content {
    padding: 95px 5px 90px 5px;
  }
}
