@import 'colibra-theme';

$col-green: mat-color($colibra-green-palette, 500);
$col-olive: mat-color($colibra-olive-palette, 500);
$col-orange: mat-color($colibra-orange-palette, 500);
$col-grey: mat-color($colibra-grey-palette, 500);
