<div mat-dialog-title class="mb-1" fxLayoutAlign="space-between center">
  <h2 class="bold">Task Map</h2>
  <img src="/assets/images/ic_small_close.svg" alt="" class="icon icon-close" (click)="close()">
</div>
<div class="col-dialog-content mat-dialog-content">
  <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="space-between stretch" fxLayoutGap="2rem">
    <agm-map [latitude]="position.lat" [longitude]="position.lng" [zoom]="10">
      <agm-marker [iconUrl]="position.marker" [latitude]="position.lat" [longitude]="position.lng"></agm-marker>
      <agm-marker *ngFor="let hospital of hospitals" [iconUrl]="hospital.marker" [latitude]="hospital.lat" [longitude]="hospital.lng"></agm-marker>
    </agm-map>
    <div fxLayout="column" fxLayoutAlign="start start">
      <h2 class="bold">Hospitals nearby</h2>
      <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="1.25rem">
        <div *ngFor="let hospital of hospitals" fxLayout="column" class="hospital-info">
          <div *ngIf="hospital.selected" fxLayout="row" fxLayoutAlign="start center" class="customer-choice"><span class="bold green">Customer's choice</span>
          </div>
          <span class="bold">{{hospital.distance}} - {{hospital.name}}</span>
          <div fxLayout="row" fxLayoutAlign="start center"><span class="muted bold">Google Score:</span>
            <app-rating [rating]=hospital.google_score></app-rating>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="4px"><span class="muted bold">Our Score:</span>
            <app-score [score]=hospital.colibra_score></app-score>
          </div>
        </div>
      </div>
      <h3 class="bold floating">Decision Risk: {{decision_risk}}</h3>
      <button mat-flat-button fxFlexAlign="end" (click)="close()">Done</button>
    </div>
  </div>
</div>
