<div mat-dialog-title class="mb-1" fxLayoutAlign="space-between center">
  <h2 class="bold">{{'pages.video.title' | translate}}</h2>
  <img src="/assets/images/ic_small_close.svg" alt="" class="icon icon-close" (click)="close()">
</div>
<div class="mat-dialog-content col-dialog-content media-player-content">
  <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="space-between start" fxLayoutGap="2rem">
    <vg-player vg-responsive="true" fxFle="1 0 auto" (onPlayerReady)="onPlayerLoad($event)">
      <div *ngIf="activeCue" class="cueOverlay">
        <p>{{activeCue.text}}</p>
      </div>
      <vg-overlay-play vgFor="user-video"></vg-overlay-play>
      <vg-controls vgFor="user-video" [vgAutohide]="true" [vgAutohideTime]="5" class="media-player-controls">
        <vg-play-pause></vg-play-pause>
        <vg-mute></vg-mute>
        <vg-time-display vgProperty="current" vgFormat="mm:ss" class="current-time"></vg-time-display>
        <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
        <vg-scrub-bar>
          <vg-scrub-bar-buffering-time class="buffering-time"></vg-scrub-bar-buffering-time>
          <vg-scrub-bar-current-time></vg-scrub-bar-current-time>

          <vg-scrub-bar-cue-points *ngIf="track" vgFor="user-video" [vgCuePoints]="track.cues">
          </vg-scrub-bar-cue-points>
        </vg-scrub-bar>
        <vg-fullscreen></vg-fullscreen>
      </vg-controls>
      <video [vgMedia]="media" #media id="user-video" preload="auto" class="video-content">
        <source src="{{url}}" type="video/mp4">
      </video>
    </vg-player>
    <div fxLayout="column" fxLayoutGap="1.5rem" fxLayoutAlign="start start" fxFlex="1 0 20%">
      <h2 class="bold">{{'pages.video.key_moments' | translate}}</h2>
      <div fxLayout="column" fxLayoutGap="1rem">
        <div *ngFor="let point of points" fxLayout="row" fxLayoutGap="0.5rem" (click)="jumpTo(point.second)"
             class="key-moments interactable">
          <div class="square"></div>
          <div fxLayout="column">
            <span>{{point.time}}</span>
            <span class="muted">{{point.text}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
