<mat-card class="col-card task-card">
  <mat-card-content fxLayout="column" fxLayoutGap="0.5rem">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1rem">
      <table>
        <tr>
          <td class="bold">Time:</td>
          <td>6 hours ago</td>
        </tr>
        <tr>
          <td class="bold">Event:</td>
          <td>{{task?.event}}</td>
        </tr>
        <tr>
          <td class="bold">Voters:</td>
          <td>{{task?.voters?.current + '/' + task?.voters?.total}}</td>
        </tr>
      </table>
      <div fxLayoutAlign="center center" class="task-type">
        <mat-icon [svgIcon]="'task_' + task?.type" class="task-icon"></mat-icon>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1rem">
      <img src="/assets/flag-bg.png" alt="">
      <button mat-flat-button color="primary" class="task-button" routerLink="/tasks/123">
        <ng-container *ngIf="!task?.completed; else view">
          Vote
        </ng-container>
        <ng-template #view>
          View
        </ng-template>
      </button>
    </div>
  </mat-card-content>
</mat-card>
