<mat-card *ngIf="task" class="col-card task-card">
  <mat-card-content fxLayout="column" fxLayoutGap="0.5rem">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1rem">
      <table>
        <tr>
          <td class="bold">{{'pages.task.time' | translate}}:</td>
          <td>{{'general.hours_ago' | translate:{hours: task?.incident_time} }}</td>
        </tr>
        <tr>
          <td class="bold">{{'pages.task.event' | translate}}</td>
          <td>{{task?.incident_desc}}</td>
        </tr>
        <tr>
          <td class="bold">{{'general.voters' | translate}}:</td>
          <td>{{task?.placed_votes.length + '/' + 7}}</td>
        </tr>
      </table>
      <div fxLayoutAlign="center center" class="task-type">
        <mat-icon [svgIcon]="'task_' + task?.insurance_type?.toLowerCase()" class="task-icon"></mat-icon>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1rem">
      <img src="/assets/images/flag-bg.png" alt="">
      <button mat-flat-button color="primary" class="task-button" [routerLink]="[route, task?.task_id]">
        <ng-container *ngIf="!hasVoted; else view">
          {{'pages.task.vote' | translate}}
        </ng-container>
        <ng-template #view>
          {{'general.view' | translate}}
        </ng-template>
      </button>
    </div>
  </mat-card-content>
</mat-card>
