<div class="container">
  <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-md="row" fxLayoutAlign.gt-md="center stretch" fxLayoutGap="1.5rem">
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1rem">
      <img src="/assets/images/john_doe.png" alt="John Doe" class="profile-pic">
      <div fxLayout="column" fxLayoutAlign="center center">
        <h1 class="bold marginless">{{'pages.profile.constants.name' | translate}}</h1>
        <h1 class="bold muted marginless">{{'pages.profile.labels.level' | translate}} {{'pages.profile.constants.level' | translate}}</h1>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
          <span class="bold muted">{{'general.hor' | translate}} 87 | {{'pages.profile.constants.to_next_level' | translate}} 11 {{'general.hor' | translate}} | {{'pages.profile.constants.verified_status' | translate}} </span>
          <mat-icon svgIcon="verified" class="small-icon"></mat-icon>
        </div>
      </div>
      <mat-card class="col-card status-card">
        <mat-card-content fxLayout="column">
          <h2 class="bold">{{'pages.profile.labels.status' | translate}}</h2>
          <span class="bold">{{'pages.profile.constants.status' | translate}}</span>
          <span class="bold muted">{{'general.voters' | translate}}: 6/7</span>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxLayout="column" fxLayoutGap="0.5rem" class="profile-info">
      <div fxHide fxShow.gt-md fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
        <mat-icon svgIcon="account" class="icon"></mat-icon>
        <h1 class="bold marginless">{{'pages.profile.labels.account' | translate}}</h1>
      </div>
      <mat-card fxFlex="0%" class="col-card account">
        <mat-card-content fxLayout="column" fxLayoutGap="3rem">
          <div class="column">
            <h2 class="bold">
              {{'pages.profile.labels.profile_info' | translate}}
            </h2>
            <div fxLayout="column" fxLayout.gt-md="row" class="profile-info-details">
              <div fxFlex="0%" fxLayout="column">
                <span>{{'pages.profile.labels.birth_date' | translate}}</span>
                <span class="muted">{{'pages.profile.constants.birth_date' | translate}}</span>
              </div>
              <div fxFlex="0%" fxLayout="column">
                <span>{{'pages.profile.labels.birth_city' | translate}}</span>
                <span class="muted">{{'pages.profile.constants.birth_city' | translate}}</span>
              </div>
              <div fxFlex="0%" fxLayout="column">
                <span>{{'pages.profile.labels.verification' | translate}}</span>
                <span class="muted">{{'pages.profile.constants.verification' | translate}}</span>
              </div>
              <div fxFlex="0%" fxLayout="column">
                <span>{{'pages.profile.labels.languages' | translate}}</span>
                <span class="muted">{{'pages.profile.constants.languages' | translate}}</span>
              </div>
            </div>
          </div>
          <div fxFlex="noshrink" fxLayout="column">
            <h2 class="bold">
              {{'pages.profile.labels.statistics' | translate}}
            </h2>
            <div fxLayout="column" fxLayout.gt-md="row" class="statistics-details">
              <div fxFlex="0%" fxLayout="column">
                <span>{{'pages.profile.labels.total_tokens' | translate}}</span>
                <span class="muted">11 342{{'general.cbr' | translate}}</span>
              </div>
              <div fxFlex="0%" fxLayout="column">
                <span>{{'pages.profile.labels.current_tokens' | translate}}</span>
                <span class="muted">4 167{{'general.cbr' | translate}}</span>
              </div>
              <div fxFlex="0%" fxLayout="column">
                <span>{{'pages.profile.labels.vested_tokens' | translate}}</span>
                <span class="muted">1 342{{'general.cbr' | translate}}</span>
              </div>
              <div fxFlex="0%" fxLayout="column">
                <span>{{'pages.profile.labels.withdrawable_tokens' | translate}}</span>
                <span class="muted">2 800{{'general.cbr' | translate}}</span>
              </div>
            </div>
            <div fxFlex="noshrink" fxLayout="row" fxLayoutGap="27px" fxLayoutAlign="center center" fxLayoutAlign.gt-md="start center"
                 class="actions">
              <button mat-flat-button>{{'pages.profile.labels.deposit' | translate}}</button>
              <button mat-flat-button>{{'pages.profile.labels.withdraw' | translate}}</button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <div fxShow fxHide.gt-md class="spacer"></div>
    </div>
  </div>
</div>
