.profile-pic {
  width: 225px;
  height: 225px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}

.col-card.status-card {
  width: 300px;
  height: auto;
}

.icon {
  width: 31px;
  height: 31px;
}

.actions {
  margin-top: 1rem;
  .mat-flat-button {
    width: 113px;
    height: 30px;
    border-radius: 4px;
    background-image: linear-gradient(27deg, #2cb05b, #34be79);
    color: #ffffff;
    line-height: 1.6;
  }
}

@media only screen and (max-width: 960px) {
  .spacer {
    margin-top: 20px;
  }

  .profile-info {
    width: 340px;
  }

  .profile-pic {
    width: 138px;
    height: 138px;
  }

  .col-card.status-card {
    padding: 0.25rem 20px 10px 20px;
    width: 340px;
    height: 104px;
  }

  .col-card.account {
    padding: 0.25rem 20px 30px 20px;
  }


  .profile-info-details,
  .statistics-details {
    & > *:not(:last-of-type) {
      &:after {
        content: "";
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        width: 100%;
        height: 1px;
        background-color: #efefef;
      }
    }
  }
}
