@import 'variables';

* {
  &:not(.mat-icon):not(.icon) {
    font-family: 'Titillium Web', sans-serif;
  }

  &,
  &::before,
  &::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
}

html, body {
  overflow: hidden;
}

.mat-typography {
  font-weight: 700;

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: 'Titillium Web', sans-serif;
  }
}

.container {
  max-width: 1300px;
  width: 1300px;
  height: 100%;
  margin: 0 auto;
  &:after {
    content: "";
    margin-bottom: 20px;
  }
}

router-outlet ~ * {
  position: absolute;
  width: 100%;
}

.strong {
  font-weight: 500 !important;
}

.bold {
  font-weight: 700 !important;
}

.muted {
  opacity: 0.5;
}

.icon {
  font-size: 1.5rem;
  color: mat-color($colibra-green-palette, 500);
}

.marginless {
  margin: 0 !important;
}

//Cards
.task-card {
  width: 300px;
  margin: 0.75rem;
  padding: 18px;

  .flag {
    height: 15px;
    width: 20px;
  }
}

.mat-flat-button.mat-primary.task-button {
  width: 97px;
  height: 30px;
  border-radius: 4px;
  background-image: linear-gradient(27deg, #2cb05b, #34be79);
  line-height: 1.6;
}

.mat-card.col-card:not([class*=mat-elevation-z]) {
  border-radius: 6px;
  background-color: #ffffff;
  padding: 21px;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(142, 142, 142, 0.08);
  -moz-box-shadow: 0px 0px 10px 5px rgba(142, 142, 142, 0.08);
  box-shadow: 0px 0px 10px 5px rgba(142, 142, 142, 0.08);

  .task-card {
    width: 300px;
    height: 150px;
  }
}

.color-olive {
  color: $col-olive;
}

.color-green {
  color: $col-green;
}

.color-orange {
  color: $col-orange;
}

.color-red {
  color: #fe2534;
}

.cdk-overlay-dark-backdrop {
  background-color: rgba(255, 255, 255, 0.2);
}

.interactable {
  cursor: pointer;
  outline: none;
}

//Media player
.media-player-content vg-scrub-bar-cue-points .cue-point-container .cue-point {
  background-color: $col-green;
}

vg-scrub-bar > * {
  outline: none !important;
}

//Dialogs
.mb-1 {
  margin-bottom: 1rem;
}

::ng-deep .mat-dialog-container {
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.col-dialog-content.mat-dialog-content {
  padding: 1.5rem;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(142, 142, 142, 0.15);
  -moz-box-shadow: 0px 0px 15px 5px rgba(142, 142, 142, 0.15);
  box-shadow: 0px 0px 15px 5px rgba(142, 142, 142, 0.15);
}

//Icons
.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.mat-icon.small-icon {
  width: 0.95rem;
  height: 0.95rem;
}

.mat-icon.col-icon {
  width: 42px;
  height: 42px;
}

//Tasks
.task-type {
  width: 97px;
  height: 68px;
  border-radius: 4px;
  background-color: #e5f5ea;

  .task-icon {
    width: 39px;
    height: 39px;
  }

  &.completed {
    background-color: #f0f0f0;
  }
}

//Menu
.menu {
  .mat-icon {
    svg path {
      fill: #7f7f7f;
    }
  }

  &.active {
    color: $col-green;

    .mat-icon svg path {
      fill: $col-green;
    }
  }
}

@media only screen and (max-width: 1300px) {
  .container {
    width: auto;
    margin: 0 5px;
  }
}
