@import '~@angular/material/theming';

@include mat-core();

$colibra-green-palette: (
  50 : #e6f5ee,
  100 : #c1e6d4,
  200 : #98d6b7,
  300 : #6ec59a,
  400 : #4fb884,
  500 : #30ac6e,
  600 : #2ba566,
  700 : #249b5b,
  800 : #1e9251,
  900 : #13823f,
  A100 : #b7ffd0,
  A200 : #84ffb0,
  A400 : #51ff8f,
  A700 : #37ff7e,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$colibra-grey-palette: (
  50 : #ebebeb,
  100 : #cccccc,
  200 : #aaaaaa,
  300 : #888888,
  400 : #6f6f6f,
  500 : #555555,
  600 : #4e4e4e,
  700 : #444444,
  800 : #3b3b3b,
  900 : #2a2a2a,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
  )
);

$colibra-app-primary: mat-palette($colibra-green-palette, 500);
$colibra-app-accent: mat-palette($colibra-grey-palette, 500);
$colibra-app-warn: mat-palette($mat-red);

$colibra-app-theme: mat-light-theme($colibra-app-primary, $colibra-app-accent, $colibra-app-warn);

@include angular-material-theme($colibra-app-theme);

* {
  &:not(.mat-icon) {
    font-family: 'Cairo', sans-serif;
  }
  &,
  &::before,
  &::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
}

.strong {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}
