<mat-card *ngIf="task" class="col-card task-card">
  <mat-card-content fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0.5rem">
    <div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="0.5rem">
      <table>
        <tr>
          <td class="bold">{{'pages.task.time' | translate}}:</td>
          <td>{{'general.hours_ago' | translate: {hours: 6} }}</td>
        </tr>
        <tr>
          <td class="bold">{{'pages.task.event' | translate}}</td>
          <td>{{task?.incident_desc}}</td>
        </tr>
        <tr>
          <td class="bold">{{'general.voters' | translate}}:</td>
          <td>{{task?.placed_votes?.length + '/' + 7}}</td>
        </tr>
        <tr *ngIf="task?.result?.correct">
          <td class="bold">{{'pages.task.reward' | translate}}</td>
          <td>{{task?.result?.total}}{{'general.cbr' | translate}}</td>
        </tr>
        <tr>
          <td class="bold">{{'general.hor' | translate}}:</td>
          <td>{{(task?.result?.hor > 0 ? '+' : '') + task?.result?.hor}}</td>
        </tr>
      </table>
    </div>
    <div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="0.5rem">
      <div fxLayoutAlign="center center" class="task-type completed">
        <mat-icon [svgIcon]="'task_' + task?.insurance_type?.toLowerCase()" class="task-icon"></mat-icon>
      </div>
      <button mat-flat-button color="primary" class="task-button" [routerLink]="['/history/', task?.task_id]">
        {{'general.view' | translate}}
      </button>
    </div>
  </mat-card-content>
</mat-card>
